@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@400;500;600&family=Josefin+Sans:wght@300;400&family=Poppins:wght@300;400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  position: relative;
}

body::-webkit-scrollbar {
  width: 0rem;
  background-color: transparent;
  border-radius: 10px;
}

body::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
  background: #4831d4;
  margin: 8rem 0;
  border-radius: 80px;
}

main {
  background: #4831d4;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  overflow: hidden;
  position: relative;
}

a {
  color: inherit;
  -webkit-text-decoration: none;
  text-decoration: none;
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
  -webkit-transition-property: opacity, color, background-color, -webkit-transform, border;
  -webkit-transition-property: opacity, color, background-color, transform, border;
  -webkit-transition-property: opacity, color, background-color, border, -webkit-transform;
  transition-property: opacity, color, background-color, border, -webkit-transform;
  transition-property: opacity, color, background-color, transform, border;
  transition-property: opacity, color, background-color, transform, border, -webkit-transform;
}

nav {
  width: 100%;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 97.248px;
  padding-top: 3rem;
  z-index: 999;
}

nav h3:nth-child(1) {
  font-family: 'Josefin Sans', sans-serif;
  text-transform: capitalize;
  font-size: 1.6rem;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  color: #4831d4;
  z-index: 999999;
}

nav h3 a {
  font-family: 'Josefin Sans', sans-serif;
  text-transform: capitalize;
  font-size: 1rem;
}

nav .menuWrap ._smallNav {
  height: 472.859px;
  top: 1.39em;
  right: 3em;
  -webkit-transform: scale(0);
          transform: scale(0);
  font-size: 1.1em;
  position: absolute;
  -webkit-transition: opacity 0.4s, box-shadow 0.4s;
  -webkit-transition: opacity 0.4s, -webkit-box-shadow 0.4s;
  transition: opacity 0.4s, -webkit-box-shadow 0.4s;
  transition: opacity 0.4s, box-shadow 0.4s;
  transition: opacity 0.4s, box-shadow 0.4s, -webkit-box-shadow 0.4s;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0 10px 53px 0 rgba(163, 204, 170, 0.3);
          box-shadow: 0 10px 53px 0 rgba(163, 204, 170, 0.3);
  padding: 3.473em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

nav .menuWrap ._smallNav .List1 {
  margin: 1.2em 0;
  -webkit-transition-delay: 200ms;
  transition-delay: 200ms;
  -webkit-transition: opacity, -webkit-transform 0.3s;
  transition: opacity, -webkit-transform 0.3s;
  transition: opacity, transform 0.3s;
  transition: opacity, transform 0.3s, -webkit-transform 0.3s;
  line-height: 2.5;
  font-size: 1em;
  display: block;
  list-style-type: disc;
  -webkit-margin-before: 1em;
          margin-block-start: 1em;
  -webkit-margin-after: 1em;
          margin-block-end: 1em;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
  text-align: left;
}

nav .menuWrap ._smallNav .List1 li {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: list-item;
  text-align: -webkit-match-parent;
  font-family: 'Josefin Sans', sans-serif;
  text-align: left;
  text-transform: capitalize;
  color: #4831d4;
}

nav .menuWrap ._smallNav .List2 {
  margin: 1.2em 0;
  -webkit-transition-delay: 200ms;
  transition-delay: 200ms;
  -webkit-transition: opacity, -webkit-transform 0.3s;
  transition: opacity, -webkit-transform 0.3s;
  transition: opacity, transform 0.3s;
  transition: opacity, transform 0.3s, -webkit-transform 0.3s;
  line-height: 2.5;
  font-size: 1em;
  display: block;
  list-style-type: disc;
  -webkit-margin-before: 1em;
          margin-block-start: 1em;
  -webkit-margin-after: 1em;
          margin-block-end: 1em;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
  text-align: left;
}

nav .menuWrap ._smallNav .List2 li {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: list-item;
  text-align: -webkit-match-parent;
  font-family: 'Josefin Sans', sans-serif;
  text-align: left;
  color: #4831d4;
}

nav .menuWrap ._smallNav .List2 li h3 {
  font-size: 0.7em;
  color: #cbc9e2;
  letter-spacing: 0.25em;
  -webkit-text-transform: uppercase;
  text-transform: uppercase;
  -webkit-transition: opacity 0.2s 400ms;
  transition: opacity 0.2s 400ms;
  font-style: normal;
}

nav .menuWrap ._smallNav ._socials {
  -webkit-transition-delay: 600ms;
  transition-delay: 600ms;
  -webkit-transition: opacity, -webkit-transform 0.3s;
  -webkit-transition: opacity, transform 0.3s;
  transition: opacity, -webkit-transform 0.3s;
  transition: opacity, transform 0.3s;
  transition: opacity, transform 0.3s, -webkit-transform 0.3s;
  font-size: 0.9em;
  display: block;
  list-style-type: disc;
  -webkit-margin-before: 1em;
          margin-block-start: 1em;
  -webkit-margin-after: 1em;
          margin-block-end: 1em;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-between;
  -ms-flex-pack: space-between;
  justify-content: space-between;
  -webkit-text-transform: uppercase;
  text-transform: uppercase;
  font-size: 0.85em;
  color: #4831d4;
  width: 180px;
  margin-top: 1.5em;
}

nav .menuWrap ._smallNav ._socials li {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: inline-block;
  -webkit-text-transform: uppercase;
  text-transform: uppercase;
}

nav .menuWrap ._smallNav ._socials li:not(:last-of-type) {
  margin-right: 1em;
}

nav .menuWrap ._smallNav.open {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
  width: 19em;
  -webkit-transform: scale(1);
          transform: scale(1);
}

nav .menuWrap input {
  display: none;
}

nav .menuWrap .hamburger {
  width: 37.969px;
  height: 28.547px;
  z-index: 99999999;
  padding-bottom: .7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
  position: relative;
}

nav .menuWrap .hamburger img {
  height: 50px;
  border-radius: 100%;
  position: absolute;
  top: -7.5px;
  right: 0;
  -webkit-transition: .2s ease-in;
  transition: .2s ease-in;
}

nav .menuWrap .hamburger img:hover {
  -webkit-transform: scale(0.96);
          transform: scale(0.96);
}

footer {
  height: 695px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #badd76;
  background: #3d155f;
  display: none;
}

footer ._footWrapper {
  height: 299.467px;
  width: 1092.800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  margin-top: 2.7rem;
  padding-top: .5rem;
}

footer ._footWrapper .ulBox {
  -webkit-transition-duration: 300ms;
  margin-bottom: auto;
  text-align: left;
}

footer ._footWrapper .ulBox h3 {
  color: #cbc9e2;
  letter-spacing: 0.25em;
  -webkit-text-transform: uppercase;
  text-transform: uppercase;
  font-size: .95rem;
  font-family: 'Josefin Sans', sans-serif;
}

footer ._footWrapper .ulBox ul {
  display: block;
  list-style-type: disc;
  -webkit-margin-before: 1em;
          margin-block-start: 1em;
  -webkit-margin-after: 1em;
          margin-block-end: 1em;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
  font-size: 1.1em;
}

footer ._footWrapper .ulBox ul li {
  font-size: 1em;
  line-height: 2.5;
  position: relative;
  list-style-type: none;
  display: list-item;
  text-align: -webkit-match-parent;
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
  -webkit-transition-property: opacity, color, background-color, -webkit-transform, border;
  -webkit-transition-property: opacity, color, background-color, transform, border;
  -webkit-transition-property: opacity, color, background-color, border, -webkit-transform;
  transition-property: opacity, color, background-color, border, -webkit-transform;
  transition-property: opacity, color, background-color, transform, border;
  transition-property: opacity, color, background-color, transform, border, -webkit-transform;
}

footer ._footWrapper .ulBox ul li:hover {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  letter-spacing: 2px;
}

footer ._footWrapper .ulBox:nth-child(1) {
  margin-right: 245.880px;
  width: 148.234px;
}

footer ._footWrapper .ulBox:nth-child(2) {
  padding-top: 1rem;
}

footer ._footBase {
  width: 1092.800px;
  height: auto;
  padding-top: 3em;
  font-size: 1.15em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-between;
  -ms-flex-pack: space-between;
  justify-content: space-between;
  border-top: 1px solid rgba(186, 221, 118, 0.7);
}

footer ._footBase span {
  -webkit-text-transform: capitalize;
  text-transform: capitalize;
  font-family: 'Josefin Sans', sans-serif;
}

footer ._footBase ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-between;
  -ms-flex-pack: space-between;
  justify-content: space-between;
  font-size: 1.15em;
}

footer ._footBase ul li {
  list-style-type: none;
  display: list-item;
  text-align: -webkit-match-parent;
  text-transform: uppercase;
  display: inline-block;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  -webkit-transition-property: opacity, color, background-color, -webkit-transform, border;
  -webkit-transition-property: opacity, color, background-color, transform, border;
  -webkit-transition-property: opacity, color, background-color, border, -webkit-transform;
  transition-property: opacity, color, background-color, border, -webkit-transform;
  transition-property: opacity, color, background-color, transform, border;
  transition-property: opacity, color, background-color, transform, border, -webkit-transform;
}

footer ._footBase ul li:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  letter-spacing: 2px;
}

footer ._footBase ul li:not(:last-of-type) {
  margin-right: 2.5em;
}

@media (max-width: 800px) {
  nav {
    padding: 0 2rem;
  }
  nav h3:nth-child(1) {
    font-family: 'Josefin Sans', sans-serif;
    color: #4831d4;
  }
  nav .menuWrap ._smallNav {
    height: 100vh;
    width: 100%;
    top: 0;
    right: 0;
    padding-top: 8rem;
    position: fixed;
  }
  nav .menuWrap ._smallNav li {
    font-size: 1.2em;
  }
  nav .menuWrap ._smallNav .List1 {
    margin: 1.5em 0;
  }
  nav .menuWrap ._smallNav .List2 {
    margin: 1.5em 0;
  }
  nav .menuWrap ._smallNav ._socials {
    width: 90%;
    margin-top: 3em;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  nav .menuWrap ._smallNav ._socials li:not(:last-of-type) {
    margin-right: 0em;
  }
  nav .menuWrap ._smallNav.open {
    width: 100%;
  }
  nav .menuWrap .hamburger img {
    height: 45px;
    border-radius: 100%;
    position: absolute;
    top: -7.5px;
    right: 0;
  }
  nav.fixed {
    position: fixed;
  }
}
/*# sourceMappingURL=style.css.map */